/*-------------- gallery -----------------*/
.gallery{
	position: relative;
	margin-top: -40px;

	&::before{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(180.24deg, rgba(0, 0, 0, 0.7) -29.26%, rgba(0, 0, 0, 0) 99.8%);
		position: absolute;
		top: 0;
		left: 0;
	}

	&__back{
		@include font(normal, 500, 0.875rem, 1.2, #fff);
		text-transform: uppercase;
		text-align: left;
		text-decoration: underline;
		position: absolute;
		top: 24px;
		left: 40px;


		.icon{
			margin-right: 8px;
			fill: #fff;
		}
		.ic-arrow-back{display: none;}
	}

	&__back:hover{
		text-decoration: none;
	}

	&__more{
		position: absolute;
		right: 48px;
		bottom: 16px;

		.btn{
			min-width: 150px;
			font-size: 0.875rem;
		}

		.btn > span{
			display: inline-flex;
			align-items: center;
		}
	}

	.top-panel-wrap{
		position: absolute;
		top: 20px;
		left: 0;
		width: 100%;
	}
}

.gallery-list{
	display: flex;

	&__item{
		width: 21.6%;

		img{
			width: 100%;
			height: 100%;
		}
	}

	&__item_big{width: 43.3%;}
	&__item_small{width: 13.5%;}

	&__group{width: 21.6%;}

	&__group &__item{
		width: 100%;
		height: 50%;
	}
}

.top-panel{
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__info,
	&__action{
		display: flex;
		align-items: center;
	}

	&__logo{margin-right: 64px;}

	.edit-address,
	.filter,
	.search{
		margin-right: 20px;
	}
}

.top-panel-menu{
	display: flex;
	align-items: center;

	&__item{
		@include font(normal, 500, 1.125rem, 1.2, #fff);
		margin: 0 24px;
		transition: all 0.2s ease;
	}

	&__item:hover{color: $color-orange}
}

.edit-address{
	display: inline-flex;
	align-items: center;
	height: 48px;
	border-radius: 24px;
	background: #1fbcee;
	color: #fff;

	&__val{
		@include font(normal, 500, 1rem, 1.2, #fff);
		padding: 4px 8px 4px 12px;

		.icon{
			vertical-align: middle;
			fill: #fff;
			margin-right: 8px;
		}
	}

	&__btn{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background: #fff;
		border-radius: 50%;
		margin: 4px;

		.icon{fill: #1fbcee;}
	}
}

html[dir="rtl"]{
	.gallery{
		&__back{
			left: auto;
			right: 40px;

			.icon{
				margin-right: 0;
				margin-left: 8px;
				transform: rotate(180deg);
			}
		}

		&__more{
			right: auto;
			left: 48px;
		}
	}

	.top-panel{
		&__logo{
			margin-right: 0;
			margin-left: 64px;
		}

		.edit-address,
		.filter,
		.search{
			margin-right: 0;
			margin-left: 20px;
		}
	}

	.edit-address{
		&__val{
			padding-left: 8px;
			padding-right: 12px;
			 
			.icon{
				margin-right: 0;
				margin-left: 8px;
			}
		}
	}
}

.sign-in{
	.btn{
		vertical-align: top;
		.icon{display: none;}
	}
}

@media (max-width: 1279px) {
	.edit-address{
		&__val{display: none;}
	}
}

@media (max-width: 991px) {
	.sign-in{
		.btn{
			width: 48px;
			min-width: 48px;
			font-size: 0;
			padding: 0 5px;

			.icon{
				display: inline-block;
				margin: 0;
			}
		}
	}

	.top-panel{
		&__logo{
			margin-right: 20px;
		}
	}

	.top-panel-menu{
		&__item{margin: 0 10px;}
	}

	html[dir="rtl"]{
		.top-panel{
			&__logo{
				margin-right: 0;
				margin-left: 20px;
			}
		}
	}
}

@media (max-width: 767px) {
	.gallery{
		margin-top: -20px;

		&__back{
			font-size: 0;
			top: 48px;
			left: 20px;

			.icon{margin: 0;}
			.ic-arrow-back{display: inline-block;}
			.ic-arrow-left{display: none;}
		}

		&__title{
			max-width: calc(100% - 80px);
			@include font(normal, 500, 1.25rem, 1.2, #fff);
			text-align: center;
			position: absolute;
			top: 48px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		&__more{
			right: 20px;

			.btn{min-width: 80px;}
		}
	}

	.gallery-list{
		&__item,
		&__group{
			display: none;
		}

		& > &__item:first-child{
			display: block;
			width: 100%;
		}
	}

	.top-panel{
		&__info{display: block;}
	}

	.top-panel-menu{
		margin: 10px -10px;
	}

	html[dir="rtl"]{
		.gallery{
			&__back{
				left: auto;
				right: 20px;
			}

			&__more{
				right: auto;
				left: 20px;
			}
		}
	}
}