/*-------------- info-block -----------------*/
.info-block{
	margin-top: 8px;
	margin-bottom: 116px;

	&__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}

	&__item:nth-child(even){
		flex-direction: row-reverse;
	}

	&__img{max-width: calc(63.2% - 30px);}
	&__content{width: 36.8%;}

	&__title{
		@include font(normal, 500, 3rem, 1.2, $color-text);
		margin-bottom: 20px;
	}

	&__title_small{font-size: 2.5rem;}

	&__text{
		@include font(normal, normal, 1rem, 1.5, #4f4f4f);

		p{
			@include font(normal, normal, 1rem, 1.5, #4f4f4f);
		}
	}

	.btn{min-width: 200px;}

	& + .share-store{margin-top: -94px;}
}

.video{
	position: relative;

	&__play{
		display: inline-block;
		vertical-align: middle;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.6);
		// filter: blur(40px);
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: all 0.3s ease;
	}

	&__play::after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 26px 0 26px 37px;
		border-color: transparent transparent transparent #fff;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__play:hover{
		transform: translateY(-50%) scale(1.1);
	}
}

.share-store{
	&__content{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__item{margin: 10px 20px;}
}