/*-------------- info-block -----------------*/
.info-block{
	margin-top: 8px;
	margin-bottom: 116px;

	&__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
		position: relative;
	}

	&__item:nth-child(even){
		flex-direction: row-reverse;
	}

	&__img{max-width: calc(63.2% - 30px);}

	&__content{
		width: 36.8%;
		position: relative;
	}

	&__title{
		@include font(normal, 500, 3rem, 1.2, $color-text);
		margin-bottom: 20px;
	}

	&__title_small{font-size: 2.5rem;}

	&__text{
		@include font(normal, normal, 1rem, 1.5, #4f4f4f);

		p{
			@include font(normal, normal, 1rem, 1.5, #4f4f4f);
		}
	}

	&__bg{
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__bg::after{
		content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(180.02deg, rgba(0, 0, 0, 0.7) -74.79%, rgba(0, 0, 0, 0) 99.98%);
		position: absolute;
		top: 0;
		left: 0;
	}

	.btn{min-width: 200px;}

	& + .share-store{margin-top: -94px;}
}

.video{
	position: relative;

	&__play{
		display: inline-block;
		vertical-align: middle;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.6);
		// filter: blur(40px);
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: all 0.3s ease;
	}

	&__play::after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 26px 0 26px 37px;
		border-color: transparent transparent transparent #fff;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__play:hover{
		transform: translateY(-50%) scale(1.1);
	}
}

.share-store{
	&__content{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__item{margin: 10px 20px;}
}

@media (max-width: 767px) {
	.info-block-mob-slider{
		.info-block{
			margin: -20px -20px 0;
			position: relative;

			&__head{
				@include font(normal, 500, 1.25rem, 1.2, #fff);
				text-align: center;
				position: absolute;
				top: 51px;
				left: 0;
				right: 0;
				margin: 0 auto;
				z-index: 2;
			}

			&__item{
				display: none;
				padding: 118px 20px 40px;
				margin: 0;
			}

			&__item:first-child{display: block;}

			&__content{
				width: 100%;
				color: #fff;
			}

			&__title{
				font-size: 2rem;
				color: #fff;
				margin-bottom: 16px;
			}

			&__text{
				font-size: 1rem;
				line-height: 1.5;
				color: #fff;
			}

			&__nav{
				padding: 10px 20px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
	}

	.info-block-dot{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		&__item{
			display: inline-block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: rgba(255,255,255,0.5);
			margin: 2px;
			transition: all 0.3s ease 0s;
			cursor: pointer;
		}

		&__item:hover,
		&__item.active{
			background: #fff;
		}
	}
}