/*-------------- popup -----------------*/
.popup-wrap{
	max-height: 90%;
	max-width: 90%;
	border-radius: 12px;
	box-shadow: 0px 20px 40px rgba(210, 210, 210, 0.25);
	width: 640px;
	margin: 0 auto;
	padding: 20px 64px 20px;
	background: #fff;
	position: fixed;
	@include top-center;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 110;
	overflow-y: auto;

	&.full-height{
		height: 100vh;
		overflow-y: auto;
		max-height: 100vh;
	}
}

.popup{
	width: 100%;
	background: #fff;
	position: relative;
	padding: 27px 0 20px;

	&__close{
		display: inline-block;
		width: 32px;
		height: 32px;
		position: absolute;
		top: -1px;
		right: -44px;
		cursor: pointer;
	}

	h2,
	.h2{
		max-width: 480px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 36px;
	}

	.form-site{
		&__field{margin-bottom: 18px;}
	}

	.book-table{margin: 0 17px;}

	.form-book-table{
		max-width: 360px;
		margin: 0 auto;
	
		.form-site{
			&__field{margin-bottom: 21px;}
			textarea{height: 80px;}
		}
	}

	// &__btn{
	// 	text-align: center;
	// 	margin-top: 48px;

	// 	.btn{margin: 0 52px;}
	// }

	// .form-sms{
	// 	width: 94%;
	// 	margin: 0 auto;
	// }

	// &__text{
	// 	@include font(normal, normal, 1rem, 1.2, #666666);
	// 	text-align: center;
	// }

	// .client-detail{
	// 	&__content{padding: 40px;}
	// 	&__main{margin: -80px 0 -80px -80px;}
	// }
	// .client-comment{margin: -80px -80px -80px 0;}
}

// .popup-choose{
// 	&__text{
// 		@include font(normal, normal, 1rem, 1.2, #666666);
// 		text-align: center;
// 		margin-bottom: 37px;
// 	}

// 	&__content{
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 		max-width: 90%;
// 		margin: 0 auto;
// 	}

// 	&__label{
// 		@include font(normal, 500, 1rem, 1.2, #e34836);
// 		text-transform: uppercase;
// 		text-align: center;
// 		margin: 0 10px;
// 	}
// }

// .popup-back{
// 	@include font(normal, 500, 1rem, 1, #fff);
// 	text-transform: uppercase;
// 	position: absolute;
// 	top: 20px;
// 	left: 20px;
// 	z-index: 110;

// 	.icon{margin-right: 5px;}
// }

// .popup-add-wrap{
// 	max-height: 100%;
// 	// height: 100%;
	
// 	position: fixed;
// 	@include top-center;
// 	left: 0;
// 	right: 0;
// 	margin: 0 auto;
// 	z-index: 110;
// 	overflow-y: auto;

// 	.popup-wrap{
// 		position: static;
// 		transform: none;
// 		max-height: none;
// 	}

// 	.sms-list{
// 		width: calc(94% + 32px);
// 		margin: -16px auto 0;
// 	}
// }

// .popup-add{
// 	max-height: 132px;
// 	border-radius: 6px;
// 	box-shadow: 0px 20px 40px rgba(210, 210, 210, 0.25);
// 	padding: 20px 40px;
// 	background: #fff;
// 	margin-top: 16px;
// 	position: relative;
// 	overflow-y: auto;

// 	&__close{
// 		display: inline-block;
// 		width: 14px;
// 		height: 14px;
// 		position: absolute;
// 		top: 16px;
// 		right: 16px;
// 	}

// 	.ic-close{fill: $color-red;}
// 	&__close:hover .ic-close{fill: $color-red-dark;}
// }


// .header-popup{
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	min-height: 80px;
// 	background: #fff;
// 	border: 1px solid #efefef;
// 	box-shadow: 0px 4px 8px rgba(202, 202, 202, 0.25);
// 	padding: 17px 65px 17px 30px;
// 	transition: all 0.3s ease 0s;
// 	margin: -40px -40px 40px;

// 	&__main{
// 		display: flex;
// 		align-items: center;
// 	}

// 	&__back{
// 		display: inline-block;
// 		@include font(normal, 500, 1rem, 1.2, $color-red);
// 		text-transform: uppercase;
// 		margin-right: 64px;
// 		white-space: nowrap;

// 		.icon{
// 			fill: $color-red;
// 		}
// 	}

// 	&__back-text{margin-left: 10px;}

// 	&__head{
// 		@include font(normal, 500, 1.5625rem, 1.2, #000);
// 		margin-right: 10px;
// 	}

// 	&__action{
// 		display: flex;
// 		align-items: center;
// 	}

// 	.contact-manager{
// 		height: 44px;
// 		margin-right: 12px;

// 		&__photo{
// 			width: 44px;
// 			height: 44px;
// 		}

// 		&__name{font-size: 0.875rem;}
// 		&__phone{font-size: 0.75rem;}
// 	}
// }

html[dir="rtl"]{
// 	.popup-back{
// 		left: auto;
// 		right: 20px;
		
// 		.icon{
// 			margin-right: 0;
// 			margin-left: 5px;
// 		}
// 	}

	.popup{
// 		.client-detail__main{
// 			margin-left: 0;
// 			margin-right: -80px;
// 		}

// 		.client-comment{
// 			margin-right: 0;
// 			margin-left: -80px;
// 		}

		&__close{
			right: auto;
			left: -44px;
		}
	}

// 	.header-popup{
// 		&__back{
// 			margin-right: 0;
// 			margin-left: 64px;
// 		}

// 		&__back-text{
// 			margin-left: 0;
// 			margin-right: 10px;
// 		}

// 		&__head{
// 			margin-right: 0;
// 			margin-left: 10px;
// 		}

// 		.contact-manager{
// 			margin-right: 0;
// 			margin-left: 12px;
// 		}
// 	}
}

@media (max-width: 991px) {
	.popup-wrap{padding: 20px;}

	.popup{
		&__close{right: 0;}
	}

	html[dir="rtl"]{
		.popup{
			&__close{
				right: auto;
				left: 0;
			}
		}
	}
}

@media (max-width: 767px) {
	.popup-wrap{
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		padding: 0;
		border-radius: 0;

		// &_mob-bot{
		// 	height: calc(100vh - 68px);
		// 	margin-top: 68px;
		// 	overflow-y: auto;
		// 	border-radius: 12px 12px 0 0;

		// 	.popup{height: 100vh;}
		// }
	}
	
	.popup{
		height: 100%;
		padding: 0;

		// &__login{
		// 	text-align: center;
		// 	position: relative;
		// 	margin-bottom: 16px;
		// }

		&__head{
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			min-height: 88px;
		}

		// &__text{max-width: 100%;}

		&__top{
			height: 240px;
			padding: 47px 20px 60px;
			position: relative;
		}

		// &__top_min{min-height: 170px;}

		&__bg-top{
			width: 100%;
			height: 100%;
			// margin: -20px -20px 0;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		&__close{
			top: 10px;
			right: 20px;
			z-index: 2;
		}

		&__head a{color: #fff;}

		h1,
		.h1,
		h2,
		.h2{
			width: 100%;
			max-width: 100%;
			color: #fff;
			text-align: left;
			margin-bottom: 0;
		}

		h2,
		.h2{
			font-size: 2.5rem;
		}

		&__text{
			@include font(normal, 500, 1.25rem, 1.2, #fff);
			margin-top: 16px;
			position: relative;
		}

		&__content{
			height: calc(100% - 240px);
			padding: 32px 20px 20px;
			overflow-y: auto;
			position: relative;
		}

		&__content::after{
			content: '';
			display: block;
			width: 100%;
			height: 20px;
		}

		// .form-site-wrap,
		// .form-site,
		// .sms-form-wrap,
		// .sms-form,
		// .credit-card-wrap,
		// .credit-card,
		// .pay-choose-form-wrap,
		// .pay-choose-form,
		// .pay-form-wrap,
		// .pay-form{
		// 	height: 100%;
		// }

		// .form-site,
		// .sms-form{
		// 	display: flex;
		// 	flex-direction: column;
		// 	justify-content: space-between;
		// }

		&__back{
			display: inline-block;
			@include font(normal, 500, 1.25rem, 1, #fff);
			margin-bottom: 23px;
			position: relative;

			.icon{
				fill: #fff;
				margin-right: 14px;
			}
		}

		// .credit-card,
		// .pay-choose-form,
		// .pay-form,
		// .profile,
		// .order-history{
		// 	width: 100%;
		// }

		// .product{margin: 0;}

		// .cat-history{
		// 	padding: 40px 20px;

		// 	.btn{margin-bottom: 20px;}
		// }

		// .cat-coupon__title{text-align: left;}

		.book-table{margin: 0;}

		.form-book-table{
			max-width: 100%;
			margin: 0;
			padding-top: 9px;
		}
	}

	html[dir="rtl"]{
		.popup{
			h1,
			.h1,
			h2,
			.h2,
			&__text{
				text-align: right;
			}

			&__back{
				.icon{
					margin-right: 0;
					margin-left: 14px;
					transform: rotate(180deg);
				}
			}

			&__close{
				right: 0;
				left: 20px;
			}
		}
	}
}