/*-------------- search -----------------*/
.search{
	&__btn{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: $color-red;
		transition: all 0.2s ease;

		.icon{stroke: #fff;}
	}

	&__btn:hover{$color-red-dark:}
}