/*-------------- search -----------------*/
.search{
	&__btn{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: $color-red;
		transition: all 0.2s ease;
		cursor: pointer;

		.icon{stroke: #fff;}
	}

	&__btn:hover{background: $color-red-dark;}

	&_grey &__btn{
		background: #faf9f9;

		.icon{stroke: $color-grey;}
	}

	&_grey &__btn:hover{
		background: $color-red;

		.icon{stroke: #fff;}
	}
}