/*-------------- upload-photo -----------------*/
.upload-photo{
	display: flex;
	flex-wrap: wrap;
	margin-left: -8px;
	margin-right: -8px;

	&__item{
		display: inline-block;
		width: 100px;
		height: 100px;
		border-radius: 12px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin: 8px;
		position: relative;
	}

	&__close{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.6);
		transition: all 0.2s ease;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
		cursor: pointer;s

		.icon{
			fill: $color-red;
		}
	}
	
	&__close:hover{background: #fff;}

	&__add{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #f7cedc;
		transition: all 0.2s ease;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
		cursor: pointer;

		.icon{
			fill: $color-red;
			transition: all 0.2s ease;
		}
	}

	&__add:hover{
		background: $color-red;

		.icon{fill: #fff;}
	}

	&__item_empty{
		border: 2px dashed $color-red;
		background: #fff;
	}

	&_big{
		margin-left: -10px;
		margin-right: -10px;
	}

	&_big &__item{
		width: 120px;
		height: 120px;
		margin: 10px;
	}
}

@media (max-width: 767px) {
	.upload-photo{
		&_big &__item{
			width: 90px;
			height: 90px;
		}
	}
}