extends ../layout/main

block variables
	- var title = 'Branch profile';
	- var shadow_site='true';
	- var body_scroll='false'

block modal
	.popup-wrap
		.popup
			.popup__close
				+svg('ic-grad-close','ic-grad-close', '32', '32')

			.popup__top
				.popup__head
					.h2 We are waiting for you
			.popup__content
				.book-success
					.book-success__text Friday, 10/04/2020
						br
						|19:00 | 2 diners

					.book-success__img
						img(src="/assets/img/asset.svg", alt="")

					.book-success__btn
						a(href="#").btn Add to calendar


block content
	include ../components/detail-office