extends ../layout/main

block variables
	- var title = 'Branches';
	- var header_info = {title:'Branches', img:'menus.jpg'};

block content
	section.branch-cat-wrap
		.container
			.branch-cat
				-
					var list=[
						{icon:'ic-accessibility-wc', title:'Toilet for disabled'},
						{icon:'ic-deaf', title:'Hearing loss'},
						{icon:'ic-accessibility', title:'Accessibility'},
						{icon:'ic-park', title:'Parking'},
					]
				
				each item in list
					.branch-cat__item
						.branch-cat__icon
							+svg(item.icon,item.icon, '17', '18')
						.branch-cat__text= item.title

	section.branch-list-wrap
		.container
			.branch-list
				-
					var list=[
						{
							img:'kosher.png',
							title:'Tel Aviv branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc', status:'active'},
								{icon:'ic-deaf', status:'active'},
								{icon:'ic-accessibility', status:'active'},
								{icon:'ic-park'},
							]
						},
						{
							title:'Tel Aviv 2 branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc', status:'active'},
								{icon:'ic-deaf'},
								{icon:'ic-accessibility', status:'active'},
								{icon:'ic-park', status:'active'},
							]
						},
						{
							img:'kosher.png',
							title:'Jerusalem branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc'},
								{icon:'ic-deaf'},
								{icon:'ic-accessibility'},
								{icon:'ic-park' },
							]
						},
						{
							title:'Tel Aviv branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc', status:'active'},
								{icon:'ic-deaf', status:'active'},
								{icon:'ic-accessibility', status:'active'},
								{icon:'ic-park'},
							]
						},
						{
							title:'Tel Aviv 2 branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc', status:'active'},
								{icon:'ic-deaf'},
								{icon:'ic-accessibility', status:'active'},
								{icon:'ic-park', status:'active'},
							]
						},
						{
							img:'kosher.png',
							title:'Tel Aviv branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc', status:'active'},
								{icon:'ic-deaf', status:'active'},
								{icon:'ic-accessibility', status:'active'},
								{icon:'ic-park'},
							]
						},
						{
							title:'Tel Aviv branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc', status:'active'},
								{icon:'ic-deaf', status:'active'},
								{icon:'ic-accessibility', status:'active'},
								{icon:'ic-park'},
							]
						},
						{
							img:'kosher.png',
							title:'Jerusalem branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc'},
								{icon:'ic-deaf'},
								{icon:'ic-accessibility'},
								{icon:'ic-park' },
							]
						},
						{
							title:'Tel Aviv branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc', status:'active'},
								{icon:'ic-deaf', status:'active'},
								{icon:'ic-accessibility', status:'active'},
								{icon:'ic-park'},
							]
						},
						{
							title:'Tel Aviv 2 branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc', status:'active'},
								{icon:'ic-deaf'},
								{icon:'ic-accessibility', status:'active'},
								{icon:'ic-park', status:'active'},
							]
						},
						{
							title:'Jerusalem branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc'},
								{icon:'ic-deaf'},
								{icon:'ic-accessibility'},
								{icon:'ic-park' },
							]
						},
						{
							img:'kosher.png',
							title:'Tel Aviv branch',
							address:'Fishman 19, Tel Aviv',
							phone:'+972 12 34 567',
							icons:[
								{icon:'ic-accessibility-wc', status:'active'},
								{icon:'ic-deaf', status:'active'},
								{icon:'ic-accessibility', status:'active'},
								{icon:'ic-park'},
							]
						},
					]
				
				each item in list
					.branch-list__item
						.branch-list__content
							if(item.img)
								.branch-list__icon
									img(src="/assets/img"+item.img, alt="")

							.branch-list__title= item.title

							.branch-list-contact
								.branch-list-contact__item
									+svg('ic-address','ic-address', '12', '16')
									= item.address

								.branch-list-contact__item
									+svg('ic-phone','ic-phone', '16', '16')
									= item.phone

							.branch-list-icons
								each icon in item.icons
									.branch-list-icons__item(class=icon.status=='active'?'active':'')
										+svg(icon.icon,icon.icon, '27', '26')

						a(href="#").branch-list__more Read more