extends ../layout/main

block variables
	- var title = 'Branch profile';
	- var shadow_site='true';
	- var body_scroll='false'

block modal
	.popup-wrap
		.popup
			.popup__close.d-none.d-md-inline-block
				+svg('ic-grad-close','ic-grad-close', '32', '32')

			.popup__top
				img.popup__bg-top.d-md-none(src='/assets/img/bg-mobile-head.svg', alt='')

				.popup__back.d-md-none
					+svg('ic-arrow-back','ic-arrow-back', '12', '20')
					|Back

				.popup__head
					.h2 Delivery areas
					
			.popup__content
				.data-delivery-wrap
					.data-filter
						-
							var list=[
								{title:'Area 1', status:'active'},
								{title:'Area 2'},
								{title:'Area 3'},
								{title:'Area 4'},
							]

						each item in list
							a(href="#").data-filter__item(class=item.status?'active':'')= item.title

					.data-delivery
						-
							var list=[
								{title:'Minimum delivery', val:'$45'},
								{title:'Delivery cost', val:'$3,99'},
								{title:'Delivery time', val:'50 min'},
							]
						
						each item in list
							.data-delivery__item
								.data-delivery__title= item.title
								.data-delivery__val= item.val

					.data-delivery-wrap__btn
						a(href="#").btn Ok


block content
	include ../components/detail-office