extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'menu.html',name:'Menu'},
			{href: 'menu-filter.html',name:'Menu with open filter'},
			{href: 'branches.html',name:'Branches'},
			{href: 'branch-profile.html',name:'Branch profile'},
			{href: 'choose-table-popup.html',name:'Choose table popup'},
			{href: 'book-table.html',name:'Book table popup'},
			{href: 'book-success.html',name:'Book table success popup'},
			{href: 'delivery-areas.html',name:'Delivery areas popup'},
			{href: 'review-popup.html',name:'Review popup'},
			{href: 'restaurant-hours.html',name:'Branch profile (restaurant hours)'},
			{href: 'more-photos.html',name:'More photos'},
			{href: 'special-event.html',name:'Special event'},
			{href: 'join-new-rest.html',name:'Join new rest'},
			{href: 'contact-us.html',name:'Contact us'},
			{href: 'vacancy.html',name:'Vacancy'},
			{href: 'send-cv.html',name:'Send CV'},
			{href: 'member-club.html',name:'Member club'},
			{href: 'member-club-popup.html',name:'Member club popup'},
			{href: 'tipografika.html',name:'Tipografika'},
		];

block content
	section.container
		h1 Content
		ul
			each page in pagelist
				li
					a(href=page.href,)= page.name


