extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'menu.html',name:'Menu'},
			{href: 'tipografika.html',name:'Tipografika'},
		];

block content
	section.container
		h1 Content
		ul
			each page in pagelist
				li
					a(href=page.href,)= page.name


