extends ../layout/main

block variables
	- var title = 'Branch profile';
	- var shadow_site='true';
	- var body_scroll='false'

block modal
	.popup-wrap(style="width: 800px;")
		.popup
			.popup__close.d-none.d-md-inline-block
				+svg('ic-grad-close','ic-grad-close', '32', '32')

			.popup__top
				img.popup__bg-top.d-md-none(src='/assets/img/bg-mobile-head.svg', alt='')

				.popup__back.d-md-none
					+svg('ic-arrow-back','ic-arrow-back', '12', '20')
					|Back

				.popup__head
					.h2 What do you think about this place?

			.popup__content
				.form-review
					form.form-site-wrap
						.form-site
							.form-site__content
								.form-site__main
									.form-site__field
										.form-site__label Title
										.form-site__input
											input(type='text', placeholder='Briefly describe this place')

									.form-site__field
										.form-site__label Your review
										.form-site__input
											textarea(placeholder="Write your comment")

								.form-site__range-wrap
									-
										var info={
											title:'Taste',
											val:'good',
											width:'80',
											list:[
												{num:'0'},
												{num:'1'},
												{num:'2'},
												{num:'3'},
												{num:'4', status:'active'},
												{num:'5'},
											]
										}

									+range(info)

									-
										var info={
											title:'Service',
											val:'excellent',
											width:'100',
											list:[
												{num:'0'},
												{num:'1'},
												{num:'2'},
												{num:'3'},
												{num:'4'},
												{num:'5', status:'active'},
											]
										}

									+range(info)

									-
										var info={
											title:'delivery speed',
											val:'not bad',
											width:'60',
											list:[
												{num:'0'},
												{num:'1'},
												{num:'2'},
												{num:'3', status:'active'},
												{num:'4'},
												{num:'5'},
											]
										}

									+range(info)

									-
										var info={
											title:'Price/quality',
											val:'bad',
											width:'50',
											list:[
												{num:'0'},
												{num:'1'},
												{num:'2', status:'active'},
												{num:'3'},
												{num:'4'},
												{num:'5'},
											]
										}

									+range(info)

							.form-site__attach-wrap
								.file-upload-wrap
									.upload-photo
										.upload-photo__item(style="background-image: url(/assets/img/photo1.jpg)")
											.upload-photo__close
												+svg('ic-cancel','ic-cancel', '16', '16')

										.upload-photo__item(style="background-image: url(/assets/img/photo2.jpg)")
											.upload-photo__close
												+svg('ic-cancel','ic-cancel', '16', '16')
												
									.file-upload
										label.file-upload__content
											input(type='file', name='file')
											span.file-upload__btn
												+svg('ic-photo','ic-photo', '24', '20')
											span.file-upload__name Attach photo

								button.btn(type='submit')
									span Send



block content
	include ../components/detail-office