extends ../layout/main

block variables
	- var title = 'Branch profile';
	- var shadow_site='true';
	- var body_scroll='false'

block modal
	.popup-wrap(style="width: 800px;")
		.popup
			.popup__close.d-none.d-md-inline-block
				+svg('ic-grad-close','ic-grad-close', '32', '32')

			.popup__top
				img.popup__bg-top.d-md-none(src='/assets/img/bg-mobile-head.svg', alt='')

				.popup__back.d-md-none
					+svg('ic-arrow-back','ic-arrow-back', '12', '20')
					|Back
					
				.popup__head
					.h2 Upload photos

			.popup__content
				form.form-upload
					.form-upload__content
						.upload-photo.upload-photo_big
							.upload-photo__item(style="background-image: url(/assets/img/photo1.jpg)")
								.upload-photo__close
									+svg('ic-cancel','ic-cancel', '16', '16')

							.upload-photo__item(style="background-image: url(/assets/img/photo2.jpg)")
								.upload-photo__close
									+svg('ic-cancel','ic-cancel', '16', '16')

							.upload-photo__item.upload-photo__item_empty
								.upload-photo__add
									+svg('ic-plus','ic-plus', '16', '16')

							
					.form-upload__btn
						button.btn(type='submit')
							span Upload


block content
	include ../components/detail-office