extends ../layout/main

block variables
	- var title = 'Typography';

block content
	section.container
		h1 Typography

		p
			a(href='#') Link
		p
			| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
		p
			| Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
		br
		br
		.h2 Additional classes for text
		p
			span.code text-left
			|  text align left
		p
			span.code text-center
			|  text align center
		p
			span.code text-right
			|  text align right
		p
			span.code text-justify
			|  text align across the width
		p
			span.code text-uppercase
			|  text uppercase
		p
			span.code text-bold
			|  text bold
		br
		br
		.h2 Headers
		h1 Header - h1
		h2 Header - h2
		h3 Header - h3
		h4 Header - h4
		h5 Header - h5
		h6 Header - h6
		br
		p.h1 The class is called h1
		p.h2 The class is called h2
		p.h3 The class is called h3
		p.h4 The class is called h4
		p.h5 The class is called h5
		p.h6 The class is called h6
		br
		br
		br
		.h2 Buttons
		a.btn(href='#') Button
		br
		br
		a.btn(href='#')
			span Button
			+svg('ic-arrow-right','ic-arrow-right ic-white', '16', '12')
		br
		br
		a.btn.btn_border(href='#') Button

		br
		br
		a(href="#").btn.btn_border-grad
			span.btn__grad-content Button

		//- br
		//- br
		//- a(href="#").btn.btn_border-grad
		//- 	span.btn__grad-content
		//- 		//- +svg('ic-alarm','ic-alarm', '15', '15')
		//- 		span Button

		br
		br
		a.btn.btn_small.btn_orange(href='#')
			//- +svg('ic-crown','ic-crown ic-white', '16', '16')
			span Button
		//- br
		//- br
		//- a.btn.btn_small.btn_green(href='#')
		//- 	+svg('ic-repeat','ic-repeat ic-white', '9', '10')
		//- 	span Button
		
		br
		br
		div(style='padding: 20px; background: #d60b52; border-radius: 12px;')
			a.btn.btn_border-white(href='#') Change

		br
		br
		.h2 Checkbox
		.input-check
			input#checkbox1(type='checkbox', checked='checked')
			label.input-check__label(for='checkbox1')
				span.input-check__mark
					+svg('ic-check','ic-check', '16', '12')

				span.input-check__text label
		
		br
		br
		div.h2 Icons

		div(style="background: #f28f16; padding: 10px;")
			.type-icon.type-icon_white
				.type-icon__item
					.type-icon__img
						+svg('ic-arrow-left','ic-arrow-left ic-white', '16', '12')
					.type-icon__name ic-arrow-left

				.type-icon__item
					.type-icon__img
						+svg('ic-arrow-right','ic-arrow-right ic-white', '16', '12')
					.type-icon__name ic-arrow-right

				
		.type-icon
			.type-icon__item
				.type-icon__img
					+svg('ic-filter','ic-filter', '22', '22')
				.type-icon__name ic-filter

			.type-icon__item
				.type-icon__img
					+svg('ic-cancel','ic-cancel', '16', '16')
				.type-icon__name ic-cancel

			.type-icon__item
				.type-icon__img
					+svg('ic-check','ic-check', '16', '12')
				.type-icon__name ic-check

			.type-icon__item
				.type-icon__img
					+svg('ic-burger','ic-burger', '20', '20')
				.type-icon__name ic-burger
