extends ../layout/main

block variables
	- var title = 'Vacancy';
	- var header_info = {title:'We’re hiring', img:'join-new-rest.jpg'};

block content
	section
		.container
			.vacancy
				.vacancy__text.d-md-none
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				-
					var list=[
						{title:'Cashier', img:'cv1.jpg'},
						{title:'Waiter', img:'cv2.jpg'},
					]

				each item in list
					.vacancy__item
						.vacancy__content
							.vacancy__title= item.title

							.vacancy__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis vulputate fusce urna vestibulum. Lectus augue tempor phasellus quam molestie est phasellus sed lectus. Pretium pulvinar arcu quam tortor molestie leo urna porta molestie. Amet nunc in mi, lorem:
								ul
									li nunc, adipiscing est vestibulum suspendisse placerat eros 
									li aliquet sed aliquet malesuada faucibus porta pellentesque vulputate 
									li curabitur nunc nulla nunc egestas pellentesque nulla risus
							
							.vacancy__bottom
								a(href="#").vacancy__link
									span.vacancy__link-text Send cv
									+svg('ic-arrow-right','ic-arrow-right ic-white', '14', '11')

								.social-share
									.social-share__btn
										+svg('ic-share','ic-share', '16', '16')

									.social-circle
										a(href="#").social-circle__item.social-circle__item_fb
											+svg('ic-facebook','ic-facebook', '16', '16')

										a(href="#").social-circle__item.social-circle__item_tg
											+svg('ic-telegram','ic-telegram', '16', '16')

										a(href="#").social-circle__item.social-circle__item_wh
											+svg('ic-whatsapp','ic-whatsapp', '16', '16')

										a(href="#").social-circle__item
											+svg('ic-gmail','ic-gmail', '16', '16')
						
						.vacancy__img(style="background-image: url(/assets/img/"+item.img+")")