//Path
$path-img: "../img";
$path-icon: "../img/icons";
$path-fonts: "../fonts";

//Font
$font-site: 'Product Sans', Arial, sans-serif;

// Site
$color-text: #4a4a4a;
$color-grey: #979797;
$color-green: #48b26b;
$color-dark-green: #328a4f;
$color-orange: #f28f16;
$color-orange-dark: #e08516;
$color-red: #d60b52;
$color-red-dark: #b50b46;