include ../utils/mixins
block variables

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title #{title}

	body
		.wrapper
			if header_info
				+header(header_info)
			main
				block content

			block footer
